.newcourse_parent {
  height: 100vh;
  width: 100vw;
  background-color: #f8f9fa;
  display: grid;
  grid-template-columns: 60px 1fr 1px 1.2fr;
  animation: appear 0.6s ease 0.1s 1 normal forwards;
  opacity: 0;

}

@keyframes appear {
  0%{
    /* opacity: 0; */
    opacity: 0;
  }

  100%{
    opacity: 1;

    /* opacity: 1; */
  }
  
}

.leftpanel {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 20px 1fr 10px 1fr 10px 1.3fr 10px 2.4fr;
  background-color: transparent;
}

.newcourse_titlebox {
  grid-row: 2/3;
  background-color: transparent;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.newcourse_title_container {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.5rem;
  color: #5c5959;
  font-weight: 600;
}

.newcourse_namebox {
  grid-row: 4/5;
  background-color: transparent;
  position: relative;
}

.newcourse_name_textbox {
  height: 50px;
  width: 80%;
  position: absolute;
  left: 3%;
  bottom: 10%;
  background-color: rgba(139, 222, 237, 0.544);
  border-radius: 20px;
}

.course_name_text {
  height: 80%;
  width: 80%;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(0%, -50%);
}

.editicon,
.tickicon {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(0%, -50%);
}

.tickicon {
  color: green;
  border-radius: 50%;
}

.tickicon:hover {
  background-color: rgb(205, 211, 216);
}

.newcourse_namebox_title {
  position: absolute;
  top: 5%;
  height: 50px;
  left: 3%;
  width: 90%;
  background-color: transparent;
}

.newcourse_namebox_title p {
  position: absolute;
  top: 60%;
  left: 0%;
  transform: translate(0%, -50%);
  color: #525252;
  font-size: 1.5rem;
}

.newcourse_descriptionbox {
  grid-row: 6/7;
  background-color: transparent;
  position: relative;
}

.newcourse_description_textbox {
  height: 70px;
  width: 80%;
  position: absolute;
  left: 3%;
  bottom: 10%;
  background-color: rgba(139, 222, 237, 0.544);
  border-radius: 20px;
}

.course_description_text {
  height: 80%;
  width: 80%;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 50%;
  left: 3%;
  resize: none;
  transform: translate(0%, -50%);
}

.newcourse_imagebox {
  grid-row: 8/9;
  background-color: transparent;
  position: relative;
}

.newcourse_image_area {
  height: 200px;
  width: 400px;
  position: absolute;
  left: 3%;
  transform: translate(0%, 0%);
  bottom: 9%;
  background-color: rgba(139, 222, 237, 0.544);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightpanel {
  grid-column: 4/5;
  background-color: transparent;
  display: grid;
  grid-template-rows: 100px 2fr 20px 1fr 20px 0.8fr;
}

.exitbox {
  grid-row: 1/2;
  position: relative;
}

.exitbutton {
  color: white;
}

.newcourse_chapterbox {
  grid-row: 2/3;
  background-color: transparent;
  position: relative;
}

.newcourse_cost {
  grid-row: 4/5;
  background-color: transparent;
  position: relative;
}

.submitoptions {
  grid-row: 6/7;
  position: relative;
}

.publishoptionbutton,
.saveoptionbutton {
  height: 50px;
  width: 200px;
  color: white;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 2%;
  border-radius: 20px;
  font-weight: 400;
}

.publishoptionbutton {
  background-color: #11a811;
  top: -10%;
}

.publishoptionbutton:hover {
  background-color: green;
}

.saveoptionbutton {
  background-color: #cb2121;
  top: 42%;
}

.saveoptionbutton:hover {
  background-color: red;
}

.add_chapter_box {
  height: 400px;
  width: 700px;
  background-color: #cac2c2;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 2.5fr 3fr;
  position: absolute;
  left: 3%;
  top: 40%;
  transform: translate(0%, -50%);
}

.added_chapters_area {
  grid-column: 2/3;
  background-color: #cac2c2;
  display: grid;
  grid-template-rows: 1fr 4fr;
  max-height: 400px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.added_chapters_container {
  grid-row: 2/3;
  background-color: #cac2c2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  min-height: 100%;
  position: relative;
  border-top: 2px solid #484747;
  gap: 15px;
  padding: 10px;
  border-bottom-right-radius: 20px;
}

.no_chapters {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #706b6b;
  text-align: center;
}

.add_chapter_area {
  grid-column: 1/2;
  background-color: #82827f;
  grid-template-rows: 1fr 4fr;
  display: grid;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.added_chapter_box {
  height: 50px;
  background-color: rgba(139, 222, 237, 0.544);
  width: 100%;
  display: grid;
  grid-template-columns: 0.7fr 3fr 1fr;
  grid-template-rows: 1fr;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.added_chapter_box:hover {
  background-color: rgba(43, 145, 182, 0.492);
}

.navigate_box {
  grid-column: 1/2;
  background-color: transparent;
  height: 100%;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.upbox,
.downbox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #706b6b;
}

.arrow_up {
  transform: rotate(90deg);
}

.added_chapter_info {
  grid-column: 2/3;
  background-color: transparent;
  height: 100%;
  grid-row: 1/2;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.added_chapter_name {
  grid-row: 1/3;
  color: #706b6b;
  font-size: 16px;
  position: relative;
}

.added_chapter_name p {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translate(0%, -50%);
  font-weight: 700;
}

.edit_delete_box {
  grid-column: 3/4;
  background-color: transparent;
  grid-template-columns: 1fr 1fr;
  display: grid;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.editbox,
.deletebox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #706b6b;
}

.deletebox:hover {
  color: red;
}

.editbox:hover {
  color: rgb(14, 142, 25);
}

.add_chapters_title {
  grid-row: 1/2;
  background-color: #cac2c2;
  position: relative;
  font-weight: 600;
  border-top-left-radius: 20px;
}

.add_chapters_title p {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%);
  color: #525252;
  font-weight: 400;
  font-size: 30px;
}

.chapter_controls_box {
  grid-row: 2/3;
  background-color: #cac2c2;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #484747;
  border-top: 2px solid #484747;
  border-bottom-left-radius: 20px;
}

.add_chapter_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 150px;
  background-color: #17a979;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  font-size: 18px;
}

.add_chapter_button:hover {
  background-color: #08553b;
}

.cancel_button,
.add_button {
  position: absolute;
  top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  font-size: 13px;
  line-height: 13px;
  color: white;
  font-weight: 600;
}

.cancel_button {
  left: 3%;
  height: 30px;
  width: 60px;
  background-color: #bd3535;
}

.cancel_button:hover {
  background-color: red;
}

.add_button {
  right: 3%;
  height: 30px;
  width: 60px;
  background-color: #3b965b;
}

.add_button:hover {
  background-color: green;
}

.title_text_box {
  height: 50px;
  width: 90%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: white;
  border: 1px solid #c8c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_text {
  height: 90%;
  width: 95%;
  border: none;
  outline: none;
}

.boxtag {
  position: absolute;
  top: -22px;
  width: 100%;
  height: 20px;
  left: 0%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.title_description_box {
  height: 150px;
  width: 90%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: white;
  border: 1px solid #c8c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .newcourse_title_container {
    font-size: 30px;
  }

  .newcourse_namebox_title p,
  .course_name_text,
  .course_description_text {
    font-size: 18px;
  }

  .newcourse_name_textbox,
  .newcourse_description_textbox,
  .newcourse_image_area {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .newcourse_parent {
    display: flex;
    flex-direction: column;
  }

  .leftpanel,
  .rightpanel {
    width: 100%;
    padding: 10px;
  }

  .newcourse_title_container {
    font-size: 24px;
  }

  .newcourse_namebox_title p {
    font-size: 16px;
  }

  .newcourse_name_textbox,
  .newcourse_description_textbox {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .newcourse_title_container {
    font-size: 20px;
  }

  .newcourse_namebox_title p {
    font-size: 14px;
  }

  .submitoptions {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .publishoptionbutton,
  .saveoptionbutton {
    width: 80%;
    height: 40px;
    margin: 10px 0;
  }
}
