@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100..900&family=Climate+Crisis&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');

body {
    margin: 0;
  }
  body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  *{
      scrollbar-width: 0;
  }
  *::-webkit-scrollbar {
    display: none;
  }
.course_page_parent{
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    display: grid;
    grid-template-columns: 1.5fr 6fr;
    grid-template-rows: 70px 1fr;

}

.course_title_area{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    border-bottom: 2px solid black;
}

.course_chapters_area{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: azure;
    position: relative;
}

.chapter_option{
    height: 80px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid lightgrey;
    transition: all 0.3s ease;

}

.chapter_option:hover{
    background-color: rgb(239, 243, 244);
}

.chapter_name{
    position: absolute;
    top: 50%;
    left:10%;
    transform: translate(0%,-50%);
    text-align: center;
    font-size: 15px;
    white-space: nowrap;
    font-weight: 600;
}

.course_scroller{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 5px;
    height: 80px;
    background-color: black;
    border-radius: 0px;

}

.course_page_appbar{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: white;
    border-bottom: 2px solid black;
    position: relative;

}
.exitbutton{
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translate(0%,-50%);
    height: 50px;
    width: 90px;
    background-color: rgb(199, 95, 95);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.exitbutton:hover{
    background-color: red;
}
.exitbutton p{
    font-size: 18px;
    color: white;
}
.course_content_area{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: white;
    display: grid;
    grid-template-rows: 40px 1fr;
}

.warningbox{
    grid-row: 1/2;
    background-color: rgb(241, 227, 173);
    display: none;
    justify-content: center;
    align-items: center;
    color: chocolate;
    font-weight: 900;
}

.contentarea{
    grid-row: 2/3;
    background-color: transparent;
    display: grid;
    grid-template-rows: 580px 1fr;
    overflow-y: scroll;

}

.chaptervideo{
    grid-row: 1/2;
    background-color: transparent;
    width: 100%;
    position: relative;

}
.videobox{
    height: 500px;
    width: 900px;
    background-color: gray;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,0%);
    position: relative;
    margin-top: 10px;
    
}
.lockedvideo{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 30px;
    width: 50px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.enrollmentbutton{
    position: absolute;
    bottom: 4%;
    right: 13.5%;
    height: 35px;
    width: 120px;
    background-color: rgb(24, 80, 193);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    font-size: 14px;
    transition: all 0.2s ease;
    z-index: 10;
}

.enrollmentbutton:hover{

    background-color: rgb(9, 51, 135);
    
}

.markascompletebutton{
    position: absolute;
    bottom: 4%;
    right: 13.5%;
    height: 35px;
    width: 120px;
    background-color: rgb(24, 193, 106);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    font-size: 14px;
    transition: all 0.2s ease;
    z-index: 10;

}

.markascompletebutton:hover{

    background-color: rgb(4, 83, 57);
    
}

.completedbutton{
    position: absolute;
    bottom: 4%;
    right: 13.5%;
    height: 35px;
    width: 120px;
    background-color: rgb(72, 77, 74);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    font-size: 14px;
    transition: all 0.2s ease;
    z-index: 10;

}

.chapterdescription{
    display: grid;
    grid-row: 2/3;
    min-height: 200px;
    grid-template-rows: 70px 1fr;
    background-color: white;
    position: relative;
}

.objective{
    grid-row: 1/2;
    width: 100%;
    font-size: 50px;
    color: rgb(93, 91, 91);
    position: absolute;
    top: calc( 0% - 50px);
    left: 1%;
    line-height: 80px;
    border-bottom: 3px solid lightgray;
}

.chapter_info{
    grid-row: 1/2;
    width: calc(100% - 20px);
    font-size: 15px;
    color: rgb(0, 0, 0);
    position: relative;
    min-height: 200px;

}

.chapter_info p{
    position: absolute;
    top: 30%;
    margin-left: 20px;
}

.attachment_link{
    grid-row: 2/3;
    background-color: transparent;
    position: relative;
}

.attachment_link p{
    position: absolute;
    bottom: 10%;
    left: 20px;
    transform: translate(0%,0%);
}
